// 全局less 样式
.container {
  display: flex;
  // 侧边栏
  .nav-left {
    width: 25%;
    min-width: 180px;
    height: calc(100vh);
    // border: 1px solid cyan;
    background-color: #001529;
  }
  // 右边主题
  .main {
    flex: 1;
    background-color: #f1f3f5;
    height: calc(100vh);
    overflow: auto;
  }
  .content {
    position: relative;
    padding: 20px;
  }
}
